.game-board {
	justify-content: space-around;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

.board-a {
	position: absolute;
	margin-top: -9.65%;

}

.board-b {
	margin-left: -15.45%;
	margin-top: -2%;
	position: absolute;
	transform: rotate(90deg);

}

.board-c {
	margin-top: -2%;
	margin-left: 15.45%;
	position: absolute;
	transform: rotate(90deg);
}


.board-d {
	margin-top: 5.75%;
	position: absolute;
}

.cochera {
	position: absolute;
	margin-left: -30.7%;
	margin-top: -22.87%;
}

.alcoba {
	position: absolute;
	margin-left: 0.1%;
	margin-top: -22.87%;
}

.biblioteca {
	position: absolute;
	margin-left: 31%;
	margin-top: -22.87%;
}

.vestibulo {
	position: absolute;
	margin-left: -30.7%;
	margin-top: -7.55%;
}

.panteon {
	position: absolute;
	margin-left: 31%;
	margin-top: -7.55%;
}

.bodega {
	position: absolute;
	margin-left: -30.7%;
	margin-top: 7.85%;
}

.salon {
	position: absolute;
	margin-left: 0.1%;
	margin-top: 7.85%;
}

.laboratorio {
	position: absolute;
	margin-left: 31%;
	margin-top: 7.85%;
}