.game-board {
	justify-content: center;
	display: flex;
	padding: 13rem 25rem;
	align-items: center;
	align-content: center;
	position: relative;
	margin-top: 15%;
	z-index: 1;

}

.board-a {
	position: absolute;
	margin-top: -50.9%;
}

.board-b {
	margin-left: -25.55%;
	margin-top: -25.85%;
	position: absolute;
	transform: rotate(90deg);

}

.board-c {
	margin-top: -25.85%;
	margin-right: -25.45%;
	position: absolute;
	transform: rotate(90deg);
}


.board-d {
	margin-top: -0.2%;
	position: absolute;
}

@import url('http://fonts.cdnfonts.com/css/bloody');
.cochera {
	position: absolute;
	margin-left: -50.75%;
	margin-top: -76.55%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905154616797331536/unknown.png');
	background-size: cover;
	font-family: 'Bloody', sans-serif;
}

.alcoba {
	position: absolute;
	margin-left: 0.1%;
	margin-top: -76.55%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905154996348289074/unknown.png');
	background-size: cover;
	font-family: 'Bloody', sans-serif;
}

.biblioteca {
	position: absolute;
	margin-left: 50.75%;
	margin-top: -76.55%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905157683232014366/unknown.png');
	background-size: cover;
	font-family: 'Bloody', sans-serif;
}

.vestibulo {
	position: absolute;
	margin-left: -50.75%;
	margin-top: -25.85%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905155991291703306/unknown.png');
	background-size: cover;
	font-family: 'Bloody', sans-serif;
}

.centro {
	position: absolute;
	margin-left: 0.1%;
	margin-top: -25.85%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905157363529576488/unknown.png');
	/*background: url('../../logo.png');*/
	background-size: contain;
	font-family: 'Bloody', sans-serif;
}

.panteon {
	position: absolute;
	margin-left: 50.75%;
	margin-top: -25.85%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905156068018122862/unknown.png');
	background-size: cover;
	font-family: 'Bloody', sans-serif;
}

.bodega {
	position: absolute;
	margin-left: -50.75%;
	margin-top: 25.25%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905156132924969030/unknown.png');
	background-size: cover;
	font-family: 'Bloody', sans-serif;
}

.salon {
	position: absolute;
	margin-left: 0.1%;
	margin-top: 25.25%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905156181776007208/unknown.png');
	background-size: cover;
	font-family: 'Bloody', sans-serif;
}

.laboratorio {
	position: absolute;
	margin-left: 50.75%;
	margin-top: 25.25%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905156253226008576/unknown.png');
	background-size: cover;
	font-family: 'Bloody', sans-serif;
}