.box {
	background-color: #fff;
	border:  1px solid #999;
	float:  left;
	line-height: 20%;
	height: 30px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 30px;
}

.box:focus {
	outline:  none;
}

.kbd-navigation .box:focus {
	background: #ddd;
}