.n {	/*normal*/
	background-color: #e9d9c8;
	border:  1px solid #999;
	float:  left;
	font-size: 80%;
	line-height: 10%;
	height: 30px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 30px;
}

.e {	/*entry*/
	background-color: black;
	border:  1px solid #999;
	float:  left;
	font-size: 80%;
	line-height: 10%;
	height: 30px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 30px;
}

.trd {	/*trap_d*/
	background-color: transparent;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905180249657049158/unknown.png');
	transform: rotate(180deg);
	background-size: cover;
	border:  1px solid #999;
	float:  left;
	font-size: 80%;
	line-height: 10%;
	height: 30px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 30px;
}

.d {	/*dowm*/
	background-color: transparent;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905179406094463016/unknown.png');
	background-size: cover;
	border:  1px solid #999;
	float:  left;
	font-size: 80%;
	line-height: 10%;
	height: 30px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 30px;
}

.u {	/*up*/
	background-color: transparent;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905179406094463016/unknown.png');
	transform: rotate(180deg);
	background-size: cover;
	border:  1px solid #999;
	float:  left;
	font-size: 80%;
	line-height: 10%;
	height: 30px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 30px;
}

.l {	/*left*/
	background-color: transparent;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905191507055743016/unknown.png');
	transform: rotate(270deg);
	background-size: cover;
	border:  1px solid #999;
	float:  left;
	font-size: 80%;
	line-height: 10%;
	height: 30px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 30px;
}

.lw {	/*left_wood*/
	background-color: transparent;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905179406094463016/unknown.png');
	background-size: cover;
	border:  1px solid #999;
	float:  left;
	font-size: 80%;
	line-height: 10%;
	height: 30px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 30px;
}


.r {	/*right*/
	background-color: transparent;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905191507055743016/unknown.png');
	transform: rotate(90deg);
	background-size: cover;
	border:  1px solid #999;
	float:  left;
	font-size: 80%;
	line-height: 10%;
	height: 30px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 30px;
}

.rw {	/*right_wood*/
	background-color: transparent;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905179406094463016/unknown.png');
	transform: rotate(180deg);
	background-size: cover;
	border:  1px solid #999;
	float:  left;
	font-size: 80%;
	line-height: 10%;
	height: 30px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 30px;
}


.b {	/*bat*/
	background-color: transparent;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905195384991785000/unknown.png');
	transform: rotate(270deg);
	background-size: cover;
	border:  1px solid #999;
	float:  left;
	font-size: 80%;
	line-height: 10%;
	height: 30px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 30px;
}

.c {	/*cobra*/
	background-color: transparent;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905179867837005885/unknown.png');
	transform: rotate(180deg);
	background-size: cover;
	border:  1px solid #999;
	float:  left;
	font-size: 80%;
	line-height: 10%;
	height: 30px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 30px;
}

.t {	/*trap*/
	background-color: transparent;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905180249657049158/unknown.png');
	transform: rotate(90deg);
	background-size: cover;
	border:  1px solid #999;
	float:  left;
	font-size: 80%;
	line-height: 10%;
	height: 30px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 30px;
}
