.continue{
  font-size: 20px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding-top:15px;
  padding-bottom:15px;
  padding-left:40px;
  padding-right:40px;
  border-radius: 30px; 
  margin: 2em 25.5em;
}

.continue:hover{
    background-color: #410401;
    transition: 1s background ease;
    color: #ffffff;
    transition: 1s color ease;
}