@import url('http://fonts.cdnfonts.com/css/bloody');
.eCOCHERA {
	height: 42%;
	width: 22%;
	background-color: transparent;
	position: absolute;
	margin-left: -50.75%;
	margin-top: -76.55%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905154616797331536/unknown.png');
	background-size: cover;
	opacity: 0.6;
	font-family: 'Bloody', sans-serif;
	pointer-events: none;
	font-weight: bold;
	color: darkred;
	text-shadow: white;
	border: 1px solid #999;
	text-shadow: navajowhite -2px 2px;
}

.eALCOBA {
	height: 42%;
	width: 22%;
	background-color: transparent;
	position: absolute;
	margin-left: 0.1%;
	margin-top: -76.55%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905154996348289074/unknown.png');
	background-size: cover;
	opacity: 0.6;
	font-family: 'Bloody', sans-serif;
	pointer-events: none;
	font-weight: bold;
	color: darkred;
	text-shadow: white;
	border: 1px solid #999;
	text-shadow: navajowhite -2px 2px;
}

.eBIBLIOTECA {
	height: 42%;
	width: 22%;
	background-color: transparent;
	position: absolute;
	margin-left: 50.75%;
	margin-top: -76.55%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905157683232014366/unknown.png');
	background-size: cover;
	opacity: 0.6;
	font-family: 'Bloody', sans-serif;
	pointer-events: none;
	font-weight: bold;
	color: darkred;
	text-shadow: white;
	border: 1px solid #999;
	text-shadow: navajowhite -2px 2px;
}

.eVESTIBULO {
	height: 42%;
	width: 22%;
	background-color: transparent;
	position: absolute;
	margin-left: -50.75%;
	margin-top: -25.85%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905155991291703306/unknown.png');
	background-size: cover;
	opacity: 0.3;
	font-family: 'Bloody', sans-serif;
	pointer-events: none;
	font-weight: bold;
	color: darkred;
	text-shadow: white;
	border: 1px solid #999;
	text-shadow: navajowhite -2px 2px;
}

.centro {
	height: 42%;
	width: 22%;
	background-color: transparent;
	position: absolute;
	margin-left: 0.1%;
	margin-top: -25.85%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905157363529576488/unknown.png');
	background-size: contain;
	font-family: 'Bloody', sans-serif;
}

.ePANTEON {
	height: 42%;
	width: 22%;
	background-color: transparent;
	position: absolute;
	margin-left: 50.75%;
	margin-top: -25.85%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905156068018122862/unknown.png');
	background-size: cover;
	opacity: 0.3;
	font-family: 'Bloody', sans-serif;
	pointer-events: none;
	font-weight: bold;
	color: darkred;
	text-shadow: white;
	border: 1px solid #999;
	text-shadow: navajowhite -2px 2px;
}

.eBODEGA {
	height: 42%;
	width: 22%;
	background-color: transparent;
	position: absolute;
	margin-left: -50.75%;
	margin-top: 25.25%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905156132924969030/unknown.png');
	background-size: cover;
	opacity: 0.6;
	font-family: 'Bloody', sans-serif;
	pointer-events: none;
	font-weight: bold;
	color: darkred;
	text-shadow: white;
	border: 1px solid #999;
	text-shadow: navajowhite -2px 2px;
}

.eSALON {
	height: 42%;
	width: 22%;
	background-color: transparent;
	position: absolute;
	margin-left: 0.1%;
	margin-top: 25.25%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905156181776007208/unknown.png');
	background-size: cover;
	opacity: 0.6;
	font-family: 'Bloody', sans-serif;
	pointer-events: none;
	font-weight: bold;
	color: darkred;
	text-shadow: white;
	border: 1px solid #999;
	text-shadow: navajowhite -2px 2px;
	z-index: 0;
}

.eLABORATORIO {
	height: 42%;
	width: 22%;
	background-color: transparent;
	position: absolute;
	margin-left: 50.75%;
	margin-top: 25.25%;
	background: url('https://cdn.discordapp.com/attachments/897995023860252682/905156253226008576/unknown.png');
	background-size: cover;
	opacity: 0.6;
	font-family: 'Bloody', sans-serif;
	pointer-events: none;
	font-weight: bold;
	color: darkred;
	text-shadow: white;
	border: 1px solid #999;
	text-shadow: navajowhite -2px 2px;
}

.edis{
	opacity: 1;
	box-shadow: 0 0 10px 3px darkred, 0.2rem 0.2rem 100px #13092d;
}

.edis:hover{
	box-shadow: 0 0 2px 2px limegreen, 0.2rem 0.2rem 10px #13092d;
}

.eplayer{
	background-image: url(../../drawable/player_green.png);
	position: absolute;
	background-repeat: no-repeat;
}