  .HP {
    text-align: center;
  }
  
  .HP-logo {
    align-items: top;
    width: 40%;
    height: 40%;
    pointer-events: none;
  }

  .HP-title {
    min-height: 40vh;
    display: flex;
    align-items: top;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .HP-text {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .boton{
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:rgb(0, 0, 0);
    cursor: pointer;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:rgba(230, 107, 144, 0.445);
    border-radius:35px;
    margin: 2em;
  }
  
  .boton:hover, .Cancelar:hover{
    background-color: #410401;
    transition: 1s background ease;
    color: #ffffff;
    transition: 1s color ease;
  }

  .playerOptions{
    align-items: center;
    flex-direction: column;
    align-content: center;
    display: flex;
    bottom: 1%;
    right: 1%;
    font-size: 10px;
    justify-content:center;
    position: absolute;
    transition: background 0.25s;
  }

  .scene {
    align-items: left;
    flex-direction: column;
    align-content: left;
    display: flex;
    top: 1%;
    left: 1%;
    font-size: 10px;
    justify-content:left;
    position: absolute;
    transition: background 0.25s;
  }