  .HP {
    text-align: center;
  }
  
  .HP-logo {
    align-items: top;
    height: 40vmin;
    pointer-events: none;
  }

  .HP-title {
    min-height: 40vh;
    display: flex;
    align-items: top;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .HP-text {
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .boton{
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:rgb(0, 0, 0);
    cursor: pointer;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:rgba(230, 107, 144, 0.445);
    border-radius:35px;
    margin: 2em;
  }
  
  .boton:hover, .Cancelar:hover{
    background-color: #410401;
    transition: 1s background ease;
    color: #ffffff;
    transition: 1s color ease;
  }