.jform-box{
  min-width: 40%;
  position:relative; 
  box-shadow: 1px 2px 5px rgba(0,0,0,.20); 
  background: rgb(0, 0, 0, 0.3);
  padding: 0.5%;
  margin: auto;
  border-radius: 5px; 
  border: solid 1px #ccc
}

@import url('http://fonts.cdnfonts.com/css/bloody');
.jform-box h3{
  font-size: 40px ;
  text-align: center;
  color: #5e222c;
  margin: 5%;
  font-family: 'Bloody', sans-serif;
}

.jform-box label{
  display: block;
  text-align: center;
  font-size: 25px;
  margin: 10%;
  color: navajowhite;
  text-shadow: #5e222c 2px -2px;
  font-family: 'Bloody', sans-serif;

}

.jform-box input{
  display: block;
  width: 400px;
  margin: -5% auto 0 auto;
  padding: .10rem .8rem;
  text-align: center;
  display:flex;
  border:0;
  border-radius: 5px;
  font-size: 20px;
}

.continue{
  margin-top: 15%;
  margin-bottom: 5%;
}