@import url('http://fonts.cdnfonts.com/css/bloody');

thead tr{
    background-color: #5e222c;
    color: white;
    font-family: 'Bloody', sans-serif;
}

tbody tr{
    background-color: rgb(31, 30, 30);
    color: white;
}

td{
    background-color: #5e222c;
    color: white;
    font-size: 12px;
}

.tablePlayers {
    height: 90%;
    width: 10%;
    padding: 10rem 1rem;
    position: absolute;
    margin-right: -80%;
    margin-top: -20%;
}

.tablePlayers thead {
    top: 10px;
}

table {
    width: 90%;
}

th, td {
    padding: 8px 40px;
}

img{
    padding: 0px 0px;
    position: relative;
    width: 1rem;
    height: 1rem;
}

.td-image{
    position: relative;
}
