.App {
  text-align: center;
}

.background {
  background-image: url(https://cdn.discordapp.com/attachments/897995023860252682/907479981888794704/IMG_20211109_010106.png);
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
