.App {
  text-align: center;
}

.background {
  background-image: url(https://s3.nybookeditors.com/blog/2016/12/_680x394_fit_center-center_99_none/FEATURED_How-to-Write-a-Convincing-Mystery.jpg?mtime=20190819114644&focal=none&tmtime=20210427002134);
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
